*{
    box-sizing: border-box;
    text-decoration: none;
}
nav {
    box-sizing: border-box;
    border: solid; color: blue; border-width: 2px;
    background-color: yellow;
}

nav ul li {
    display: inline-block;
    margin-left: 300px;
    text-decoration: none;
}
footer{
    text-align: center;
}
.header{
    background-color: lightcoral;
    padding: 5px;
    text-align: center;
    border: solid;
    border-color: black;
    border-width: 5px;
    margin-bottom: 5px;
}
header body {
    display: inline-block;
    text-align: center;
    background-color: lightgreen;
}
table  {
    border: solid;
    padding: 5px;
    border-color: black;
    text-align: center;
    vertical-align: center;
    margin-left: 450px;
    margin-top: 20px;
    background-color: rgb(165, 216, 71);
}
thead{
    background-color: rgb(227, 235, 236);
}
caption{
    margin-bottom: 10px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div{
    text-align: center;
}
img{
    max-width: 100px;
}